# Ignore virtual environment
.venv/

# Ignore raw datasets
dataset/raw/*.csv
dataset/raw/*.rar


# Ignore all notebooks except EDA
notebooks/03_model_training.ipynb
notebooks/04_model_explainability.ipynb

# Ignore scripts until finalized
scripts/


# Ignore system files
.DS_Store

# Ignore dataset archives
*.rar
*.zip

# Ignore output files
*.ipynb_checkpoints/
__pycache__/
*.pyc
