# Ignore virtual environment
.venv/

# Ignore dataset folder and archives
dataset/
*.rar
*.zip

# Ignore models and reports
models/

reports/

# Ignore all notebooks except Phase 2 feature engineering
notebooks/*
!notebooks/03_model_training.ipynb

# Ignore scripts until finalized
scripts/

# Ignore system files
.DS_Store

# Ignore Jupyter and Python output files
*.ipynb_checkpoints/
__pycache__/
*.pyc
