# Ignore virtual environment
.venv/

# Ignore dataset folder and archives
dataset/
*.rar
*.zip

# Ignore models and reports and plots
model/
reports/

# Ignore all notebooks except Phase 4 feature engineering
notebooks/*
!notebooks/04_model_explainability_and_impact.ipynb

# Ignore scripts until finalized
scripts/

# Ignore system files
.DS_Store

# Ignore Jupyter and Python output files
*.ipynb_checkpoints/
__pycache__/
*.pyc
